<!DOCTYPE html>
<div th:replace="~{ backend/app :: layout ('用户列表', _, ~{::#main}, _) }" xmlns:th="http://www.thymeleaf.org">
    <div class="content-wrapper" id="main">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-12 d-flex justify-content-between">
                        <h1>用户列表</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${page.getContent()}">
                                        <th th:text="${user.id}">ID</th>
                                        <th th:text="${user.name}">Name</th>
                                        <th th:text="${user.email}">Email</th>
                                        <th th:text="${user.mobile}">Mobile</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>